.nav-item > .nav-link{
    font-size: 18px;
}

.sobre {
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    max-width: 890px;
    margin-left: 60px;
    margin-right: 60px;
}

.faixa {
    margin-bottom: 10px;
}

.nav-link:hover {
    border-bottom: 1px solid #666;
}

.img {
    border-radius: 6px;
}

.faixa-logos {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    overflow-x: hidden;
}

.dropdown-item:active {
    background-color: #666;
}

.dropdown-item:hover {
    background-color: #666;
}

.dropdown-item::after {
    background-color: #666;
}

.dropdown-item::before {
    background-color: #666;
}