.nav-item > .nav-link{
    font-size: 18px;
}

.sobre {
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    max-width: 890px;
    margin-left: 60px;
    margin-right: 60px;
}

.faixa {
    margin-bottom: 10px;
}